---
import { getMeta } from '../lib/api'
import OverflowLogo from './OverflowLogo.astro'

const meta = getMeta()
---

<div class="bg-neutral/20 text-neutral-content">
  <footer class="footer p-10 max-w-7xl mx-auto">
    <div>
      <OverflowLogo />
      <span>
        {meta.footer.org_name}
      </span>
      <a class="link" href={`mailto:${meta.footer.org_email}`}>{meta.footer.org_email}</a>
    </div>

    {
      meta.footer.sections.map((section) => (
        <div>
          <span class="footer-title">{section.title}</span>
          {section.items.map((item) => (
            <a class="link link-hover" href={item.to}>
              {item.title}
            </a>
          ))}
        </div>
      ))
    }
  </footer>
</div>
