---
export interface Props extends SEOMeta {}

const { title, description, image } = Astro.props as Props
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="twitter:image" content={image} />
<meta property="twitter:card" content="summary_large_image" />
