---
import { Icon } from 'astro-icon'
import { getMeta, getSEO } from '../lib/api'

import RootLayout from './RootLayout.astro'

import TheOverflowLogo from '../components/TheOverflowLogo.astro'
import ThemeToggle from '../components/ThemeToggle.astro'

export interface Props {
  seo?: SEOMeta
}

const props = Astro.props

const meta = getMeta()
const seo = {
  ...getSEO(),
  ...props.seo,
}
---

<RootLayout seo={seo}>
  <div class="font-poppins">
    <div class="sticky top-0 z-10 font-cubano">
      <div class="nav-glass"></div>
      <div class="nav-border relative m-auto flex w-full max-w-7xl flex-col">
        <div class="navbar h-12">
          <div class="navbar-start">
            <div class="dropdown">
              <label tabindex="0" class="btn-ghost btn rounded lg:hidden">
                <Icon size="26" name="tabler:menu-2" />
              </label>
              <ul tabindex="0" class="dropdown-content menu menu-compact mt-3 w-52 rounded-md bg-base-100 p-2 shadow-md">
                {
                  meta.navbar.menu_items.map(({ name, to, icon }) => {
                    return (
                      <li>
                        <a href={to} class="!rounded">
                          <Icon size="16" name={icon} />
                          {name}
                        </a>
                      </li>
                    )
                  })
                }
              </ul>
            </div>

            <div class="hidden sm:flex">
              <TheOverflowLogo />
            </div>

            <a href="/" class="btn-ghost btn rounded text-xl font-medium normal-case">
              {meta.navbar.title}
            </a>
          </div>

          <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal m-0 p-0">
              {
                meta.navbar.menu_items.map(({ name, to, icon }) => {
                  return (
                    <li>
                      <a href={to} class="!rounded">
                        <Icon size="16" name={icon} />
                        {name}
                      </a>
                    </li>
                  )
                })
              }
            </ul>
          </div>

          <div class="navbar-end">
            <ThemeToggle />

            {
              meta.navbar.join_us.enabled ? (
                <a href={meta.navbar.join_us.url} class="btn btn-ghost rounded ml-3">
                  {meta.navbar.join_us.text}
                  <Icon size="24" name={meta.navbar.join_us.icon} class="ml-2" />
                </a>
              ) : null
            }
          </div>
        </div>
      </div>
    </div>

    <div class="m-auto max-w-7xl">
      <slot />
    </div>
  </div>
</RootLayout>
